body {
  font-family: "arial";
  background-color: white;
}


#welcome-section {
  width: 100vw;
  height:100vh;
  position: relative;
  background-color: burlywood;
  margin-left:-10px;
  top: 40px;
}

#welcome-header {
  display: block;
  position: relative;
  top: 30vh;;
  left: 25px;
  color: white;
  font-size: 30px;
  opacity: 0%;
  animation-name: solidify-header;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes solidify-header {
  100% {
    opacity: 100%;
  }
}

#welcome-text {
  display: block;
  position: relative;
  top: 30vh;
  left: 25px;
  color: white;
  font-size: 30px;
  order: 2;
  opacity: 0%;
  animation-name: solidify-text;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes solidify-text {
  0% {
    opacity: 0%;
  }
  30% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#navbar {
  display: block;
  position: fixed;
  top: 0px;
  background-color: white;
  opacity: 75%;
  width: 100%;
  height: 80px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

ul li {
  display: inline-block;
  font-size: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
  margin-bottom:10px;
  opacity: 100%;
  animation-name:minimized-font;
}

a.nav-link:link {
  text-decoration: none;
  color: peru;
}
a.nav-link:hover {
  animation-name: enlarge-font;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes enlarge-font {
  100% {
    font-size: 35px;
  }
}

a.nav-link:visited {
  text-decoration: none;
  color: peru;
}

#projects {
  display: grid;
  width: 100vw;
  height:1000px;
  margin-left:-10px;
  padding: 10rem 2rem;
  background-color: burlywood;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-row: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.project-tile {
  text-align: center;
  background: white;
  border-radius: 3px;
  text-align: center;
  align-self: center;
  min-height: 300px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


a.tile-link:link {
  text-decoration: none;
  text-color:black;
}

#contact {
  height:1000px;
}